:root{
    size: 10px;
    --white: whitesmoke;
    --negro: black;
}

.white{
    color: var(--white);
}
.img{
    width:  350px;
    height: 300px;
    padding-bottom: 5px;
}

.Container-img {
    padding-left: 55px;
}

/* Parte del texto de quienes somos: */

body {
    background-color: var(--negro);
    color: var(--white);
}

a.nav-link {
    color: var(--white) !important;
}

.quienes-somos{
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: left;
}

.quienes-somos-item {
    text-align: left;
    padding-left: 2rem;
    width: 1000px;
}

br.mitad-espacio {
    height: 0.25px;
}
.titulo {
    text-align: center;
    padding-bottom: 2.50px;
    padding-top: 1.50   px;
}
